@use "./reset";
@use "./variables/global";
@use "./themes/light";
@use "./themes/dark";
@use "./themes/darkBlue";
@use "./themes/lightBlue";
@use "./themes/lightGreen";

body {
  font: var(--font-m);
  color: var(--primary-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
  position: relative;
}
