.LoginForm {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-top: 20px;
}

.loginBtn {
  margin: 15px 8px 20px auto;
}

.inputEntity {
  border: solid 2px #eee;
  background: rgb(255 255 255);
  box-shadow: 0 0 15px rgb(6 6 6 / 10%);
}
