.CommentItem {
  display: block;
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 20px;
}

.commentHeader {
  display: flex;
  align-self: start;
}

.image {
  overflow: hidden;
  margin-right: 15px;
}

.content {
  margin-top: 8px;
}
