.BookDetailsHeader {
  display: block;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.editBar {
  flex-grow: 1;
}

.backToListWrap {
  position: fixed;
  display: block;
  transform: translate(-40%, -49%);
  top: 50%;
  z-index: 5;
}

.backToList {
  height: 50px;
  width: 50px;
  fill: green;

  // background: rgb(255 255 255);
  border-radius: 50%;

  &:hover {
    fill-opacity: 90%;
    stroke-opacity: 90%;
  }

  &:active {
    opacity: 0.9;
  }

  cursor: pointer;
}
