# See https://help.github.com/books/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
node_modules
package-lock.json

# testing
/coverage
/reports

# production
/build

# misc
.DS_Store
.idea
.vercel

/storybook-static
