.NavbarItem {
  margin-right: 48px;
  font-size: 12px;
  font-weight: bold;
  color: #ccc;

  :hover {
    color: #fff;
  }
}

@media (max-width: 670px) {
  .NavbarItem {
    margin-right: 20px;
  }
}
