.primary.title {
  color: var(--primary-color);
}

.primary.text {
  color: var(--secondary-color);
}

.light.title {
  color: #444;
}

.light.text {
  color: #555;
}

.error.title {
  color: var(--error-prim);
}

.error.text {
  color: var(--error-dark);
}

.inverted.title {
  color: var(--primary-color-inverted);
}

.inverted.text {
  color: var(--secondary-color-inverted);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.smallest.title {
  font: var(--font-s);
}

.smallest.text {
  font: var(--font-xs);
}

.extraSmall.title {
  font: var(--font-s);
}

.extraSmall.text {
  font: var(--font-xs);
}

.small.title {
  font: var(--font-l);
}

.small.text {
  font: var(--font-s);
}

.middle.title {
  font: var(--font-l);
}

.middle.text {
  font: var(--font-m);
}

.large.title {
  font: var(--font-xl);
}

.large.text {
  font: var(--font-l);
}

.extraLarge.title {
  font: var(--font-xxl);
}

.extraLarge.text {
  font: var(--font-xl);
}
