.Sidebar {
  display: block;
  position: fixed;
  right: 0;
  top: 182px;
  height: 300px;
  width: var(--sidebar-width); // 300px;
  margin: 12px auto;
  padding: 15px 24px;
  box-shadow: var(--shadow);
  border-radius: 12px;
  background: #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  transition: width 0.5s, height 0.5s;

  // transition: height 0.08s;
  z-index: 1;
}

.svgIcon {
  fill: var(--primary-color);
  width: 40px;
}

.collapsed {
  width: var(--sidebar-width-collapsed); // 80px;
  height: 60px;
  padding: 15px 4px;
}

@keyframes sidebar-animation-keyframes {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  70% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
  }
}

.sidebarContentAnimation {
  animation-name: sidebar-animation-keyframes;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.sidebarContent {
  transition: opacity 0.1s;
  margin: 15px 0;
}

.links {
  display: block;
  position: relative;
  text-align: left;
  margin: 10px 0;
}

.clear {
  display: none;
}

.buttonImage {
  position: relative;
  display: block;
}

.sidebarSpacing {
  margin-top: 5px;
}

.sidebarBtn {
  margin: 0 auto;
}
