.Input {
  display: block;
  padding: 5px;
  width: 100%;
}

.placeholder {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding-left: 5px;
  text-align: left;
}

.inputEntity {
  color: var(--primary-color);
  width: 100%;
  border-radius: 4px;
  padding-left: 6px;
  border: solid 2px rgba(255 255 255 / 30%);
  background: rgba(255 255 255 / 30%);
  box-shadow: var(--shadow);
}

.readOnly {
  background: none;
  border: none;
  color: var(--secondary-color);
  box-shadow: none;
}

.light {
  color: #333;
}

.primary {
  color: var(--primary-color);
}
