.STANDARD {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 8px;
  padding: 10px;
  margin: 15px auto;
  width: 95%;

  .bookImage {
    width: 320px;
    height: 320px;
    object-fit: contain;
    margin: auto 0;
  }

  @media (max-width: 660px) {
    .bookImage {
      max-width: 180px;
      max-height: 180px;
    }
  }

  @media (max-width: 365px) {
    .bookImage {
      max-width: 120px;
      max-height: 120px;
    }
  }

  .hashTagType {
    font: var(--font-m); // 12px;
    cursor: pointer;
  }

  .contentWrapper {
    margin-left: 20px;
    max-width: 193px;
    overflow: hidden;
    gap: 4px;
  }

  @media (max-width: 390px) {
    .contentWrapper {
      margin-left: 8px;
    }
  }

  .info {
    font-size: 12px;
  }

  .downloadBtnWrap {
    max-width: 30px;
    padding: 0 5px;
  }

  .downloadBtn {
    fill: #fff;
    stroke: #fff;
  }

  // .paragraph {
  //   max-height: 195px;
  //   overflow-y: hidden;
  //   max-width: 400px;
  // }

  // @media (max-width: 660px) {
  //   .paragraph {
  //     display: none;
  //   }
  // }

  .extraInfo {
    min-width: 220px;
  }

  @media (max-width: 660px) {
    .extraInfo {
      display: none;
    }
  }

  .linkWrapper {
    flex-wrap: wrap;
    margin-top: 8px;
  }
}

@media (max-width: 390px) {
  .STANDARD {
    padding: 6px;
  }
}

.COMPACT {
  // display: flex;
  // justify-content: center;
  // align-self: center;

  border-radius: 8px;
  box-shadow: var(--shadow);
  margin: 18px 8px;
  width: 170px;
  transition: transform 0.3s, opacity 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transform: scale(1.03);
  }

  .imageWrapper {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: var(--shadow);
    overflow: hidden;
    position: relative;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .createdAt {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #555;
    font-size: 10px;
    background-color: rgba(80 80  80 / 40%);
    border-radius: 5px;
    padding: 3px;
  }

  .info {
    padding: 0 4px;
  }

  .hashTagType {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
  }

  .views {
    margin-left: auto;
    margin-right: 3px;
  }

  .title {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 8px;
  }
}
