.SendCommentForm {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  box-shadow: var(--shadow);
  padding: 20px;
  max-width: 800px;
  width: 90%;
  margin: 20px auto;
}

.textArea {
  flex-grow: 1;
  text-align: left;
}

.sendCommentButton {
  margin-top: 10px;
}
