.AppLink {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
    fill-opacity: 70%;
    stroke-opacity: 70%;
  }

  &:active {
    opacity: 0.9;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}
