.app_dark_theme {
  --bg-color: #282c34;
  --primary-color: #ccc;
  --secondary-color: #aaa;
  --accent-color: green;
  --link-color: #61dafb;
  --skeleton-color: #e8e8ea;

  // inverted
  --bg-color-inverted: #e8e8ea;
  --primary-color-inverted: #444;
  --secondary-color-inverted: #555;

  // shadows
  --shadow: 0 0 15px rgb(3 3 3 / 40%);
}
