.app_dark_blue_theme {
  --bg-color: #0f3a84;
  --bg-color-inverted: #b1c8ff;
  --primary-color: #b1c8ff;
  --primary-color-inverted: #0f3a84;
  --secondary-color: #b1c8ff;
  --secondary-color-inverted: #0f3a84;
  --accent-color: #8b8;
  --link-color: #b1c8ff;
  --skeleton-color: #b1c8ff;

  // shadows
  --shadow: 0 0 15px rgb(6 6 6 / 40%);
}
