.app_light_blue_theme {
  --bg-color: #eef2fa;
  --primary-color: #4e6da2;
  --secondary-color: #4f73b2;
  --accent-color: #0b5c60; // #49975d;
  --link-color: #eef2fa;
  --skeleton-color: #b1c8ff;

  // inverted colors
  --bg-color-inverted: #4e6da2;
  --primary-color-inverted: #eef2fa;
  --secondary-color-inverted: #eef2fa;
  --accent-color-inverted: #49975d;

  // shadows
  --shadow: 0 0 15px rgb(47 90 164 / 40%);
}
