// :root {
.app_light_theme {
  --bg-color: #fff;
  --bg-color-inverted: #282c34;
  --primary-color: #444;
  --primary-color-inverted: #ccc;
  --secondary-color: #555;
  --secondary-color-inverted: #aaa;
  --accent-color: green;
  --link-color: #285a67;
  --skeleton-color: #e8e8ea;

  // shadows
  --shadow: 0 0 15px rgb(6 6 6 / 10%);
}
