// :root {
.app_light_green_theme {
  --bg-color: #f4fbfa; // main
  --primary-color: #5bb0a2; // secondary
  --secondary-color: #5bb0a2; // secondary
  --accent-color: #49975d; // accent
  --link-color: #5bb0a2;
  --skeleton-color: #d9fff9;

  // inverted
  --bg-color-inverted: #f4fbfa;
  --primary-color-inverted: #5bb0a2;
  --secondary-color-inverted: #5bb0a2;
  --accent-color-inverted: #49975d;

  // shadows https://www.w3schools.com/colors/colors_hexadecimal.asp?color=00bfff
  --shadow: 0 0 15px rgb(91 176 162 / 40%);
}
