.genres {
  font-size: 14px;
  padding-left: 20px;
}

.genresTab {
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.closeIcon {
  margin-top: 6px;
}
