.Button {
  height: 30px;
  transition: opacity 0.3s;
  border: 0;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    opacity: 0.7;
    fill-opacity: 70%;
    stroke-opacity: 70%;
  }

  &:active {
    opacity: 0.9;
  }

  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.accentTheme {
  background-color: var(--accent-color);
  padding: 0 21px;
  color: white;
  border-radius: 5px;
}

.accentThemeOutline {
  background: none;
  padding: 0 21px;
  color: var(--accent-color);
  border-radius: 5px;
  border: 2px solid var(--accent-color);
}

.clearPad {
  padding: 0 21px;
  border: none;
  background: none;
  outline: none;
}

.gray {
  background-color: rgb(54 54 54);
  padding: 0 21px;
  color: white;
  border-radius: 5px;
}

.grayOutline {
  background: none;
  padding: 0 21px;
  color: rgb(54 54 54);
  border-radius: 5px;
  border: 1px solid rgb(54 54 54);
}

.whiteOutline {
  background: none;
  padding: 0 21px;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

.green {
  background-color: green;
  padding: 0 21px;
  color: white;
  border-radius: 5px;
}

.red {
  background-color: red;
  padding: 0 21px;
  color: white;
  border-radius: 5px;
}
