.Navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: var(--navbar-height);
  max-width: 800px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 8px;
  box-shadow: var(--shadow);
  border-radius: 12px;
  background: #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  z-index: 2;
}

.rightMenuWrapper {
  margin-right: 32px;
}

.avatar {
  border-radius: 50%;
}

.links {
  padding-left: 64px;
  gap: 32px;
}

.loginSVG {
  fill: var(--primary-color);
}

.menuBtn {
  height: 11px;
  padding-top: 3px;
}

@media (max-width: 670px) {
  .links {
    padding-left: 32px;
    gap: 16px;
  }
}

@media (max-width: 400px) {
  .links {
    padding-left: 8px;
  }

  .menuBtn {
    margin-right: 8px;
  }
}
